@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: '#ffffff',
  --purple: '#3f3cbb',
  --midnight: '#121063',
  --metal: '#565584',
  --tahiti: '#3ab7bf',
  --silver: '#ecebff',
  --bermuda: '#78dcca',
}

.flexCenter {
  @apply flex items-center justify-center;
}
.flexBetween {
  @apply flex items-center justify-between;
}

.light {
  background-color: #fff;
  color: #111;
}
.dark {
  background-color: #111;
  color: #ddd;
}
